<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear/>
    <add
      name="DBConnection"
      providerName="System.Data.SqlClient"
      connectionString="Data Source=localhost;User Id=sa;Initial Catalog=completions;Password=MyPassword123"
      />
  </connectionStrings>
</configuration>