<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear/>
    <add
      name="DBConnection"
      providerName="System.Data.SqlClient"
      connectionString="Data Source=localhost;User Id=sa;Initial Catalog=completions;Password=MyPassword123"
      />
  </connectionStrings>
  <appSettings>
    <clear />
    <add key="TableName" value="completions"/>
    <add key="MinFrequency" value="3"/>
    <add key="MinLength" value="3"/>
    <add key="MaxLength" value="15"/>
  </appSettings>
</configuration>